# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json

# Local virtual env
orch/

# Build artifacts
build/
dist/
*.egg-info/
pip-wheel-metadata/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Secrets
.env
*.env
